@model BitCoinsWebApp.Model.UserProfile
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@Url.Content("~/Content/Images/favicon.png")" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - A Finance Company</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/themes/manager/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="@Url.Content("~/Content/themes/manager/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css")" rel="stylesheet">
    <!-- toast CSS -->
    <link href="@Url.Content("~/Content/themes/manager/plugins/bower_components/toast-master/css/jquery.toast.css")" rel="stylesheet">
    <!-- morris CSS -->
    <link href="@Url.Content("~/Content/themes/manager/plugins/bower_components/morrisjs/morris.css")" rel="stylesheet">
    <!-- animation CSS -->
    <link href="@Url.Content("~/Content/themes/manager/css/animate.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/themes/manager/css/style.css")" rel="stylesheet">
    <!-- color CSS -->
    <link href="@Url.Content("~/Content/themes/manager/css/colors/blue.css")" id="theme" rel="stylesheet">
</head>
<body>   
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "loginform", @class = "form-horizontal form-material" }))
                {
                    <h3 class="box-title m-b-20">Sign In</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(m => Model.UserName, new { @id = "username", @maxlength = 50, @size = "44", @class = "form-control", @placeholder = "User Name" })
                            <span id="usernameError" class="help-block" style="color: #a94442">@ViewBag.UserNameError</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(m => Model.Email, new { @id = "email", @maxlength = 50, @size = "44", @class = "form-control", @placeholder = "Email" })
                            <span class="help-block" id="emailError" style="color: #a94442">@ViewBag.EmailError</span>
                        </div>
                    </div>                                       
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup">I agree to all <a href="#">Terms</a></label>
                                 <span class="help-block" id="checkbox-signupError" style="color: #a94442"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" id="signUp">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="@Url.Action("Login", "Account")" class="text-primary m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/jquery/dist/jquery.min.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js")"></script>
    <!--slimscroll JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/js/jquery.slimscroll.js")"></script>
    <!--Wave Effects -->
    <script src="@Url.Content("~/Content/themes/manager/js/waves.js")"></script>
    <!--Counter js -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/waypoints/lib/jquery.waypoints.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/counterup/jquery.counterup.min.js")"></script>
    <!--Morris JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/raphael/raphael-min.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/morrisjs/morris.js")"></script>
    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/js/custom.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/js/dashboard1.js")"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/toast-master/js/jquery.toast.js")"></script>
    <!--Style Switcher -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/styleswitcher/jQuery.style.switcher.js")"></script>
</body>
</html>
