<footer>
    <div class="footer-main padding-top padding-bottom">
        <div class="container">
            <div class="footer-main-wrapper">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="about-us">
                            <img src="@Url.Content("~/Content/themes/assets/img/logo/logo-alt.png")" alt="Main Logo" class="logo" />
                            <div class="content">
                                <p class="text">Ut enim ad minim veniam, quis nostrud cittion ullamco laboris nisi ut aliquip cosquat uis aute irure dolor ullamco nisi inkabris reprhenderit labore.</p>
                                <ul class="list-inline list-unstyled social-list">
                                    <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="link pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="link google"><i class="fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="contact-us">
                            <h4 class="title">CONTACT US</h4>
                            <div class="content">
                                <a href="javascript:void(0)" class="contact-item"><i class="fa fa-map-marker"></i><p class="description">132, My Street, Kingston, New York</p></a>
                                <div class="contact-item tel">
                                    <i class="fa fa-phone"></i>
                                    <div class="description"><a href="javascript:void(0)" class="number">(+1) 369-258-147</a><a href="javascript:void(0)" class="alt-number">(+1) 369-268-157</a></div>
                                </div><a href="javascript:void(0)" class="contact-item"><i class="fa fa-envelope-o"></i><p class="description">hello@swlabs.com</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="twitter">
                            <h4 class="title">TWITTER WIDGET</h4>
                            <div class="content">
                                <div class="twitter-text">
                                    <p>Looking for awesome PSD template?</p>
                                    <p> | Find it here: <a href="#" class="link-wg">http://tf.net/swlabs</a></p>
                                </div>
                                <div class="twitter-social"><i class="icons fa fa-twitter"></i><span>01 day ago</span></div>
                            </div>
                            <div class="content">
                                <div class="twitter-text">
                                    <p>Looking for awesome PSD template?</p>
                                    <p> | Find it here: <a href="#" class="link-wg">http://tf.net/swlabs</a></p>
                                </div>
                                <div class="twitter-social"><i class="icons fa fa-twitter"></i><span>01 day ago</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="gallery">
                            <h4 class="title">GALLERY</h4>
                            <div class="content">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <a href="#" class="thumb"><img src="@Url.Content("~/Content/themes/assets/img/footer/gallery-01.jpg")" alt="gallery image 1" class="img-responsive" /><span class="dh-overlay"></span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="thumb"><img src="@Url.Content("~/Content/themes/assets/img/footer/gallery-02.jpg")" alt="gallery image 2" class="img-responsive" /><span class="dh-overlay"></span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="thumb"><img src="@Url.Content("~/Content/themes/assets/img/footer/gallery-03.jpg")" alt="gallery image 3" class="img-responsive" /><span class="dh-overlay"></span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="thumb"><img src="@Url.Content("~/Content/themes/assets/img/footer/gallery-04.jpg")" alt="gallery image 4" class="img-responsive" /><span class="dh-overlay"></span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="thumb"><img src="@Url.Content("~/Content/themes/assets/img/footer/gallery-05.jpg")" alt="gallery image 5" class="img-responsive" /><span class="dh-overlay"></span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="thumb"><img src="@Url.Content("~/Content/themes/assets/img/footer/gallery-06.jpg")" alt="gallery image 6" class="img-responsive" /><span class="dh-overlay"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sub padding-top-xs padding-bottom-xs">
        <div class="container">
            <div class="name-company">All Rights Reserved &copy; Designed by SWLABS.</div>
            <nav class="footer-nav collapse navbar-collapse pull-right">
                <ul class="nav-links nav navbar-nav">
                    <li class="active"><a href="index.html" class="nav-item"><span class="text">Home</span></a></li>
                    <li><a href="faq.html" class="nav-item"><span class="text">FAQ</span></a></li>
                    <li><a href="privacy-term.html" class="nav-item"><span class="text">Privacy & Term</span></a></li>
                    <li><a href="contact.html" class="nav-item"><span class="text">Contact</span></a></li>
                    <li><a href="help.html" class="nav-item"><span class="text">Help</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>