<header>
    <div class="bg-header-wrapper bg-white">
        <div class="header-topbar">
            <div class="container">
                <ul class="topbar pull-left list-unstyled list-inline">
                    <li><a href="javascript:void(0)" class="item"><i class="topbar-left-icon fa fa-envelope-o"></i><span>hello@swlabs.com</span></a></li>
                    <li><a href="javascript:void(0)" class="item"><i class="topbar-left-icon fa fa-phone"></i><span>(+1) 369-258-147</span></a></li>
                </ul>
                <div class="btn-wrapper pull-right"><a href="@Url.Action("Login", "Account")" class="button btn-main">How to invest</a></div>
                <ul class="topbar pull-right list-unstyled list-inline">
                    <li><a href="javascript:void(0)" class="item topbar-icon"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="javascript:void(0)" class="item topbar-icon"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" class="item topbar-icon"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="javascript:void(0)" class="item topbar-icon"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="javascript:void(0)" class="item topbar-icon"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="offcanvas" class="btn-hamburger visible-tablet"><span class="icon-bar"></span></button>
                    <a href="@Url.Action("Index","Home")" class="header-logo"><img src="@Url.Content("~/Content/themes/assets/img/logo/logo-default.png")" alt="Main Logo" class="logo" /></a>
                </div>
                <nav class="navigation navbar-offcanvas pull-right">
                    <div class="nav-wrapper">
                        <ul class="nav-links nav navbar-nav">
                            <li class="dropdown active">
                                <a href="@Url.Action("Index","Home")" class="main-menu"><span class="text">HOME</span></a>
                            </li>
                            <li><a href="@Url.Action("About","Home")" class="main-menu"><span class="text">ABOUT</span></a></li>
                            <li><a href="@Url.Action("Service","Home")" class="main-menu"><span class="text">SERVICE</span></a></li>
                            <li class="dropdown">
                                <a href="@Url.Action("Blog","Home")" class="main-menu"><span class="text">NEWS</span></a>                                
                            </li>
                            <li><a href="@Url.Action("Contact","Home")" class="main-menu"><span class="text">CONTACT</span></a></li>
                        </ul><a href="javascript:void(0)" class="search-btn"><i class="fa fa-search"></i></a>
                        <div class="nav-search hide">
                            <form><input type="text" placeholder="Search" class="searchbox" /><button type="submit" class="search-btn fa fa-search"></button></form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>