<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>@ViewBag.Title - A Finance Company</title>
    <!-- Bootstrap Core CSS -->    
    <link href="@Url.Content("~/Content/themes/manager/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="@Url.Content("~/Content/themes/manager/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css")" rel="stylesheet">
    <!-- toast CSS -->
    <link href="@Url.Content("~/Content/themes/manager/plugins/bower_components/toast-master/css/jquery.toast.css")" rel="stylesheet">
    <!-- morris CSS -->
    <link href="@Url.Content("~/Content/themes/manager/plugins/bower_components/morrisjs/morris.css")" rel="stylesheet">
    <!-- animation CSS -->
    <link href="@Url.Content("~/Content/themes/manager/css/animate.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/themes/manager/css/style.css")" rel="stylesheet">
    <!-- color CSS -->
    <link href="@Url.Content("~/Content/themes/manager/css/colors/blue.css")" id="theme" rel="stylesheet">   
</head>
<body>
     @RenderBody()
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/jquery/dist/jquery.min.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js")"></script>
    <!--slimscroll JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/js/jquery.slimscroll.js")"></script>
    <!--Wave Effects -->
    <script src="@Url.Content("~/Content/themes/manager/js/waves.js")"></script>
    <!--Counter js -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/waypoints/lib/jquery.waypoints.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/counterup/jquery.counterup.min.js")"></script>
    <!--Morris JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/raphael/raphael-min.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/morrisjs/morris.js")"></script>
    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/js/custom.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/js/dashboard1.js")"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js")"></script>
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/toast-master/js/jquery.toast.js")"></script>    
    <!--Style Switcher -->
    <script src="@Url.Content("~/Content/themes/manager/plugins/bower_components/styleswitcher/jQuery.style.switcher.js")"></script>        
</body>
</html>
@RenderSection("Scripts", required: false)
