<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT CSS-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700,900">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/font/font-icon/font-awesome/css/font-awesome.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/font/font-icon/flaticon/flaticon.css")">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/bootstrap/css/bootstrap.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/slick-slider/slick.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/slick-slider/slick-theme.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/animate.css/animate.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/jquery-jvectormap/jquery-jvectormap.css")">
    <!-- STYLE CSS-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/css/layout.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/css/components.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/css/responsive.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/fancybox/css/jquery.fancybox.css?v=2.1.5")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/fancybox/css/jquery.fancybox-buttons.css?v=1.0.5")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/assets/libs/fancybox/css/jquery.fancybox-thumbs.css?v=1.0.7")">
    <script src="@Url.Content("~/Content/themes/assets/libs/jquery/jquery-2.1.4.min.js")"></script>
    <title>@ViewBag.Title - A Finance Company</title>
    <link href="@Url.Content("~/Content/themes/manager/plugins/images/favicon.png")" rel="shortcut icon" type="image/x-icon" />
</head>
<body>

    @RenderBody()

    <!-- LIBRARY JS-->
   
    <script src="@Url.Content("~/Content/themes/assets/libs/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/slick-slider/slick.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/detect-browser/browser.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/jquery.appear.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/wow-js/wow.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/jquery.countTo.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/js-cookie/js.cookie.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/jquery-jvectormap/jquery-jvectormap.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/jquery-jvectormap/jquery-jvectormap-us-aea.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/directional-hover/jquery.directional-hover.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/enquire/enquire.min.js")"></script>
    <!-- MAIN JS-->
    <script src="@Url.Content("~/Content/themes/assets/js/main.js")"></script>
    <!-- LOADING JS FOR PAGE-->
    <script src="@Url.Content("~/Content/themes/assets/libs/fancybox/js/jquery.fancybox.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/fancybox/js/jquery.fancybox-buttons.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/fancybox/js/jquery.fancybox-thumbs.js")"></script>   
    <script src="@Url.Content("~/Content/themes/assets/libs/chartjs/Chart.bundle.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/moment-js/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/moment-js/moment-timezone-with-data.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/isotope/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/assets/libs/isotope/packery-mode.pkgd.min.js")"></script>   
    @RenderSection("scripts", required: false)
</body>
</html>
