@model BitCoinsWebApp.Model.UserProfile
<nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part">
                <a class="logo" href="@Url.Action("Index","Manage")"><b>
                    <img src="@Url.Content("~/Content/themes/manager/plugins/images/eliteadmin-logo.png")" alt="home" /></b><span class="hidden-xs">
                        <img src="@Url.Content("~/Content/themes/manager/plugins/images/eliteadmin-text.png")" alt="home" /></span></a>
            </div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                <li>
                    <form role="search" class="app-search hidden-xs">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <!-- /.dropdown -->
                <li class="dropdown"><a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="@Url.Action("Profile", "Account")">
                    <img src="@Url.Content(Model.ImageURL.ImageFile)" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">@Model.Name</b> </a>                    
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
