@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-wrapper-content">
    <div class="sidenav-overlay"></div>
    @Html.Partial("_HeaderPartial")
    <div id="wrapper-content">
        <!-- PAGE WRAPPER-->
        <div id="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <!-- CONTENT-->
                <div class="content">
                    <section class="page-banner about">
                        <div class="container">
                            <div class="page-title-wrapper">
                                <div class="page-title-content">
                                    <h1 class="title">about us</h1>
                                    <ol class="breadcrumb">
                                        <li><a href="index.html" class="link home">Home</a></li>
                                        <li><a href="#" class="link active">About us</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="about-special padding-top padding-bottom">
                        <div class="container">
                            <h2 class="page-title">Special History moment</h2>
                            <div class="wrapper-timeline">
                                <div class="content-timeline">
                                    <div class="timeline-block">
                                        <div class="timeline-number"><span>1962</span></div>
                                        <div class="timeline-title">RotationCoins were born</div>
                                        <p class="timeline-text">
                                            RotationCoins purchases ours first computer, beginning ours commitment to developing and using the latest technology to serve ours customers. Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod te.
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmodo consequat. Duis aute irure dolor in reprehenderi.
                                        </p>
                                        <div class="timeline-slider">
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-1.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-2.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-3.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-4.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-block">
                                        <div class="timeline-number"><span>1996</span></div>
                                        <div class="timeline-title">Get fund of $2M in first funding round </div>
                                        <p class="timeline-text">
                                            RotationCoins becomes an Internet pioneer as the first finance and investment company to create a home page on the World Wide Web. Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod te. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmodo equat. Duis aute irure dolor in reprehenderi.
                                        </p>
                                        <div class="timeline-slider">
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-3.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-4.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-5.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-6.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-block">
                                        <div class="timeline-number"><span>2009</span></div>
                                        <div class="timeline-title">Become USA’s largest finacial company </div>
                                        <p class="timeline-text">
                                            RotationCoins became one of the USA’s largest financial planing companies including investments, fund management, life insurance and leasing. Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod te.
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmodo equat. Duis aute irure dolor in reprehenderi.
                                        </p>
                                        <div class="timeline-slider">
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-5.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-6.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-1.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="item-slider">
                                                <a href="#"><img src="@Url.Content("~/Content/themes/assets/img/about/about-2.jpg")" alt="" class="img-responsive"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="wrapper-banner-why">
                        <div class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/about/banner-why-1.png")" alt="" class="img-responsive"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="content-why">
                                        <div class="why-icon"><i class="icon flaticon-cup"></i></div>
                                        <div class="why-title">Why choose us</div>
                                        <div class="why-text">
                                            <p class="text">Since 1962, our firm has been dedicated to delivering exceptional asset management for our institutional, retail, and high-net-worth clients. We consistently spend all efforts in assuring.</p>
                                            <p class="text">We consistently spend all efforts in assuring investment efficiency viaabnm research competen, professionalism, integrity with our strong commitment to respect business culture, and responsibility.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrapper-table">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="content-table">
                                                    <div data-value="2500" class="main-table">
                                                        <div class="table-number">2500</div>
                                                        <div class="table-text">Individual Investors</div>
                                                    </div>
                                                    <div data-value="4764" class="main-table">
                                                        <div class="table-number">4764</div>
                                                        <div class="table-text">Commissionable Trades </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="content-table">
                                                    <div data-value="2280" class="main-table">
                                                        <div class="table-number">2280</div>
                                                        <div class="table-text">Brokerage Accounts </div>
                                                    </div>
                                                    <div data-value="5100" class="main-table">
                                                        <div class="table-number">5100</div>
                                                        <div class="table-text">Customer Assets</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="wrapper-about-done padding-top padding-bottom">
                        <div class="container">
                            <h2 class="page-title">what we done?</h2>
                            <div class="content-about-done">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-done">
                                            <div class="done-title">How does America score?</div>
                                            <p class="text">Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor duntut.</p>
                                            <p class="text">
                                                Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.Consecur pisicing elit, sed do eiusmod tempor
                                                dunt ut labore.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-done">
                                            <div class="done-title">How does America score?</div>
                                            <ul class="green-arrow-list list-unstyled">
                                                <li>
                                                    <p class="ga-list-item">Etiam id ultricies ligula. Phasellus molestie eget.</p>
                                                </li>
                                                <li>
                                                    <p class="ga-list-item">Etiam id ultricies ligula. Phasellus molestie eget.</p>
                                                </li>
                                                <li>
                                                    <p class="ga-list-item">Etiam id ultricies ligula. Phasellus molestie eget.</p>
                                                </li>
                                                <li>
                                                    <p class="ga-list-item">Etiam id ultricies ligula. Phasellus molestie eget.</p>
                                                </li>
                                                <li>
                                                    <p class="ga-list-item">Etiam id ultricies ligula. Phasellus molestie eget.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="main-done">
                                            <div class="done-title">How does America score?</div>
                                        </div>
                                        <div class="wrapper-our">
                                            <div class="content-our">
                                                <div id="accordion-1" class="panel-group accordion">
                                                    <div class="panel active">
                                                        <div class="panel-heading">
                                                            <h5 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-1" aria-expanded="true" class="accordion-toggle collapsed"> Consectetur adipisicing elit</a></h5>
                                                        </div>
                                                        <div id="collapse-1-1" aria-expanded="true" style="" role="tabpanel" class="panel-collapse collapse in">
                                                            <div class="panel-body">Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore.</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <h5 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-2" aria-expanded="false" class="accordion-toggle collapsed"> Consectetur adipisicing elit</a></h5>
                                                        </div>
                                                        <div id="collapse-1-2" aria-expanded="false" style="height: 0px" role="tabpanel" class="panel-collapse collapse">
                                                            <div class="panel-body">Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore.</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <h5 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1-3" aria-expanded="false" class="accordion-toggle collapsed">  Consectetur adipisicing elit</a></h5>
                                                        </div>
                                                        <div id="collapse-1-3" aria-expanded="false" style="height: 0px" role="tabpanel" class="panel-collapse collapse">
                                                            <div class="panel-body">Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor dunt ut labore.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 chart-md"><canvas id="chart-md-01"></canvas></div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 chart-md"><canvas id="chart-md-02"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="achievement achievement-banner">
                        <div class="container">
                            <div class="row banner">
                                <div class="col-sm-4 banner-left padding-top padding-bottom">
                                    <div class="banner-main-left">
                                        <h2 class="title">You deserve the best</h2>
                                        <p class="text">We'll help you rollover your old retirement plan so you can enjoy our wide variety of investment options and roll your old one-on-one guidance retirement plan.</p><a href="javascript:void(0)" class="button btn-main">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-sm-1 dummy-cell">&nbsp;</div>
                                <div class="col-sm-7 banner-right padding-top padding-bottom">
                                    <div class="banner-main-right">
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-1.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-2.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-3.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-4.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-5.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-1.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-2.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-3.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-4.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                        <div class="item-logo">
                                            <a href="#" class="wrapper-img"><img src="@Url.Content("~/Content/themes/assets/img/logo/achievement-logo-dark-5.png")" alt="achievement logo" class="logo-achievement"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="wapper-banner-map padding-top padding-bottom">
                        <div class="container">
                            <h2 class="page-title">RotationCoins’S presence</h2>
                            <div class="row">
                                <div class="content-banner-map">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="main-left">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="left-text">
                                                        <div class="number">46</div>
                                                        <h3 class="timeline-title">Institutional</h3>
                                                        <p class="timeline-text">Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiing elit ipsolor sitasetr.</p>
                                                    </div>
                                                    <div class="left-text">
                                                        <div class="number">13</div>
                                                        <h3 class="timeline-title">Trading Offices</h3>
                                                        <p class="timeline-text">Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiing elit ipsolor sitasetr.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="left-text">
                                                        <div class="number">55</div>
                                                        <h3 class="timeline-title">Research Teams</h3>
                                                        <p class="timeline-text">Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiing elit ipsolor sitasetr.</p>
                                                    </div>
                                                    <div class="left-text">
                                                        <div class="number">34</div>
                                                        <h3 class="timeline-title">State Served</h3>
                                                        <p class="timeline-text">Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiing elit ipsolor sitasetr.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="wrapper-map-img">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="sign-up">
                        <div class="container">
                            <div class="subscribe-email-wrapper">
                                <div class="subscribe-email-left">
                                    <p class="subscribe-email-title">Sign up for <span> GoAhead </span> viewpoints!</p>
                                    <div class="description">Get a weekly email of our pros' current thinking about financial markets, investing and personal finance.</div>
                                </div>
                                <div class="subscribe-email-right">
                                    <form>
                                        <div class="input-group form-subscribe-email"> <input type="text" placeholder="Email" class="form-control"><span class="input-group-btn"><button type="submit" class="btn-view">Get viewpoint</button></span></div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="back-top"><a href="#top" class="link"><i class="fa fa-angle-double-up"></i></a></div>
    </div>
    @Html.Partial("_FooterPartial")
</div>

 <!-- LOADING JS FOR PAGE-->
<script src="@Url.Content("~/Content/themes/assets/js/pages/about.js")"></script>