@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-wrapper-content">
    <div class="sidenav-overlay"></div>
    @Html.Partial("_HeaderPartial")
    <div id="wrapper-content">
        <div id="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <!-- CONTENT-->
                <div class="content">
                    <section class="page-banner page-service">
                        <div class="container">
                            <div class="page-title-wrapper">
                                <div class="page-title-content">
                                    <h1 class="title">service</h1>
                                    <ol class="breadcrumb">
                                        <li><a href="@Url.Action("Index","Home")" class="link home">Home</a></li>
                                        <li><a href="#" class="link active">Service</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="wrapper-our-service padding-top padding-bottom">
                        <div class="container">
                            <h2 class="page-title">Our service </h2>
                            <div class="content-our-service">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-our-service">
                                            <i class="icon flaticon-piggy-bank"></i>
                                            <h3 class="title">Invesment Planing</h3>
                                            <p class="text"> Enim ad minim veniam, quis nostrud exercitation ullamco laboris. Quis nostrud exercitation.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-our-service">
                                            <i class="icon flaticon-lifebuoy"></i>
                                            <h3 class="title">Insurance Planing</h3>
                                            <p class="text"> Enim ad minim veniam, quis nostrud exercitation ullamco laboris. Quis nostrud exercitation.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-our-service">
                                            <i class="icon flaticon-calculator"></i>
                                            <h3 class="title">Tax Planing</h3>
                                            <p class="text"> Enim ad minim veniam, quis nostrud exercitation ullamco laboris. Quis nostrud exercitation.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-our-service">
                                            <i class="icon flaticon-tasks"></i>
                                            <h3 class="title">Commodities Trading</h3>
                                            <p class="text"> Enim ad minim veniam, quis nostrud exercitation ullamco laboris. Quis nostrud exercitation.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-our-service">
                                            <i class="icon flaticon-diagram"></i>
                                            <h3 class="title">Mutual Funds</h3>
                                            <p class="text"> Enim ad minim veniam, quis nostrud exercitation ullamco laboris. Quis nostrud exercitation.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="main-our-service">
                                            <i class="icon flaticon-dollar-coins"></i>
                                            <h3 class="title">Wealth Management</h3>
                                            <p class="text"> Enim ad minim veniam, quis nostrud exercitation ullamco laboris. Quis nostrud exercitation.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="banner-ceo">
                        <div class="container">
                            <div class="row">
                                <div class="content-banner-ceo">
                                    <div class="ceo-img"><img src="@Url.Content("~/Content/themes/assets/img/service/banner-ceo-1.png")" alt="" class="img img-responsive"></div>
                                    <div class="col-md-8 main-right">
                                        <div class="main-ceo-text">
                                            <span class="w3-icon">&#10077;</span>
                                            <blockquote class="quote">
                                                “ We provide financial planning and retirement options such as IRAs, annuities, and managed accounts; brokerage and cash management products; college savings accounts; and other financial services for
                                                millions of individual investors college savings accounts; and other financial services .”
                                            </blockquote>
                                        </div>
                                        <div class="ceo">
                                            <img src="@Url.Content("~/Content/themes/assets/img/service/service-kg.png")" alt="" class="ceo-img img-responsive">
                                            <p class="text">Denial Smith - RotationCoins CEO</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="wrapper-serve padding-top padding-bottom">
                        <div class="container">
                            <h2 class="page-title">Who we serve</h2>
                            <div class="row">
                                <div class="content-serve">
                                    <div class="col-md-6">
                                        <a href="#" class="wp-img"><img src="@Url.Content("~/Content/themes/assets/img/service/serve-1.jpg")" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-md-6 main-sv">
                                        <div class="main-text">
                                            <div class="wp-sv">
                                                <div class="wp-text">
                                                    <a href="#" class="timeline-title">Individual Investors</a>
                                                    <p class="timeline-text">
                                                        Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiscing elit ipsolor sitasetr amet. Ips olor sitszvc amet, conset. Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiscing elit ipsolor sitasetr
                                                        amet. Lorem ipsolor sitszvc amet.
                                                    </p>
                                                </div>
                                                <div class="text-number">01</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-serve">
                                    <div class="col-md-6 fl-right">
                                        <a href="#" class="wp-img"><img src="@Url.Content("~/Content/themes/assets/img/service/serve-2.jpg")" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-md-6 main-sv">
                                        <div class="main-text">
                                            <div class="wp-sv">
                                                <div class="wp-text">
                                                    <a href="#" class="timeline-title">Employers</a>
                                                    <p class="timeline-text">
                                                        Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiscing elit ipsolor sitasetr amet. Ips olor sitszvc amet, conset. Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiscing elit ipsolor sitasetr
                                                        amet. Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiscing.
                                                    </p>
                                                </div>
                                                <div class="text-number">02</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-serve">
                                    <div class="col-md-6">
                                        <a href="#" class="wp-img"><img src="@Url.Content("~/Content/themes/assets/img/service/serve-3.jpg")" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-md-6 main-sv">
                                        <div class="main-text">
                                            <div class="wp-sv">
                                                <div class="wp-text">
                                                    <a href="#" class="timeline-title">Advisors and Institutions</a>
                                                    <p class="timeline-text">
                                                        Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiscing elit ipsolor sitasetr amet. Ips olor sitszvc amet, conset. Lorem ipsolor sitszvc amet, consetdc tetura me ad ipiscing elit ipsolor sitasetr
                                                        amet. Lorem ipsolor sitszvc amet
                                                    </p>
                                                </div>
                                                <div class="text-number">03</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="warpper-plan padding-top padding-bottom">
                        <div class="container">
                            <h2 class="page-title">what plan you need?</h2>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 content-plan">
                                    <div class="main-plan">
                                        <div class="title">StandarD</div><i class="icon flaticon-speedometer"></i>
                                        <div class="text">
                                            <p>Fully Integrated E-Commerce</p>
                                            <p>Mobile Website and Store</p>
                                            <p>24/7 Customer Support</p>
                                        </div>
                                        <div class="number">19</div><a href="javascript:void(0)" class="button btn-main">Get Start</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 content-plan plan active">
                                    <div class="main-plan">
                                        <div class="title">Advanced</div><i class="icon flaticon-medal"></i>
                                        <div class="text">
                                            <p>Fully Integrated E-Commerce</p>
                                            <p>Mobile Website and Store</p>
                                            <p>24/7 Customer Support</p>
                                        </div>
                                        <div class="number">29</div><a href="javascript:void(0)" class="button btn-main">Get Start</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 content-plan">
                                    <div class="main-plan">
                                        <div class="title">Commerce</div><i class="icon flaticon-lifebuoy"></i>
                                        <div class="text">
                                            <p>Fully Integrated E-Commerce</p>
                                            <p>Mobile Website and Store</p>
                                            <p>24/7 Customer Support</p>
                                        </div>
                                        <div class="number">43</div><a href="javascript:void(0)" class="button btn-main">Get Start</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 content-plan">
                                    <div class="main-plan">
                                        <div class="title">Venture</div><i class="icon flaticon-paper-plane"></i>
                                        <div class="text">
                                            <p>Fully Integrated E-Commerce</p>
                                            <p>Mobile Website and Store</p>
                                            <p>24/7 Customer Support</p>
                                        </div>
                                        <div class="number">50</div><a href="javascript:void(0)" class="button btn-main">Get Start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-how padding-top padding-bottom">
                        <div class="container">
                            <h2 class="page-title">How To Invest</h2>
                            <div class="row">
                                <div class="wrapper-section-how">
                                    <div class="col-md-6 wp-6">
                                        <div class="content-section-how">
                                            <div class="main-img">
                                                <a href="#" class="img-how"><img src="@Url.Content("~/Content/themes/assets/img/service/service-invest-1.jpg")" alt="" class="img img-responsive"></a>
                                            </div>
                                            <div class="main-section-how">
                                                <div class="wrapper-how">
                                                    <a href="#" class="timeline-title">01. Determine Plan</a>
                                                    <p class="timeline-text">Consectetur adipisicing elit, sed do eod tempor incididunt ut labore et dolore isa magna aliqua. Ut enim ad minim vniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 wp-6">
                                        <div class="content-section-how">
                                            <div class="main-img">
                                                <a href="#" class="img-how"><img src="@Url.Content("~/Content/themes/assets/img/service/service-invest-2.jpg")" alt="" class="img img-responsive"></a>
                                            </div>
                                            <div class="main-section-how">
                                                <div class="wrapper-how">
                                                    <a href="#" class="timeline-title">02. Propose Solution</a>
                                                    <p class="timeline-text">Consectetur adipisicing elit, sed do eod tempor incididunt ut labore et dolore isa magna aliqua. Ut enim ad minim vniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 wp-6">
                                        <div class="content-section-how">
                                            <div class="main-img">
                                                <a href="#" class="img-how"><img src="@Url.Content("~/Content/themes/assets/img/service/service-invest-3.jpg")" alt="" class="img img-responsive"></a>
                                            </div>
                                            <div class="main-section-how">
                                                <div class="wrapper-how">
                                                    <a href="#" class="timeline-title">03. Execute Investment</a>
                                                    <p class="timeline-text">Consectetur adipisicing elit, sed do eod tempor incididunt ut labore et dolore isa magna aliqua. Ut enim ad minim vniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 wp-6">
                                        <div class="content-section-how">
                                            <div class="main-img">
                                                <a href="#" class="img-how"><img src="@Url.Content("~/Content/themes/assets/img/service/service-invest-4.jpg")" alt="" class="img img-responsive"></a>
                                            </div>
                                            <div class="main-section-how">
                                                <div class="wrapper-how">
                                                    <a href="#" class="timeline-title">04. Supervise</a>
                                                    <p class="timeline-text">Consectetur adipisicing elit, sed do eod tempor incididunt ut labore et dolore isa magna aliqua. Ut enim ad minim vniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="sign-up">
                        <div class="container">
                            <div class="subscribe-email-wrapper">
                                <div class="subscribe-email-left">
                                    <p class="subscribe-email-title">Sign up for <span> RotationCoins </span> viewpoints!</p>
                                    <div class="description">Get a weekly email of our pros' current thinking about financial markets, investing and personal finance.</div>
                                </div>
                                <div class="subscribe-email-right">
                                    <form>
                                        <div class="input-group form-subscribe-email"> <input type="text" placeholder="Email" class="form-control"><span class="input-group-btn"><button type="submit" class="btn-view">Get viewpoint</button></span></div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="back-top"><a href="#top" class="link"><i class="fa fa-angle-double-up"></i></a></div>
    </div>
    @Html.Partial("_FooterPartial")
</div>
