@model BitCoinsWebApp.Model.ManageModel
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@Html.Partial("_NavigationPartial", Model.UserManage)
@Html.Partial("_LeftNavigation", Model.UserManage)
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <h4>Analytics Amount <a class="get-code" data-toggle="collapse" href="#pgr1" aria-expanded="true"><i class="fa fa-code" title="Get Code" data-toggle="tooltip"></i></a></h4>                
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Total Refererence ID</h3>
                            <ul class="list-inline two-part">
                                <li><i class="icon-people text-info"></i></li>
                                 <li class="text-right"><span class="counter">@Model.CountRefID</span></li>                                                          
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Provincial Interest Wallet</h3>
                            <ul class="list-inline two-part">
                                <li><i class="icon-folder text-purple"></i></li>
                                 <li class="text-right">$<span class="counter">@Model.ProInterestWallet</span></li>                                                          
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">System Wallet</h3>
                            <ul class="list-inline two-part">
                                <li><i class="icon-folder-alt text-danger"></i></li>
                                <li class="text-right">$<span class="counter">@Model.SystemWallet</span></li>                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Account Balance</h3>
                            <ul class="list-inline two-part">
                                <li><i class="ti-wallet text-success"></i></li>
                                <li class="text-right">$<span class="counter">@Model.AccountBalance</span></li>                                                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <h4>Carousel widget <a class="get-code" data-toggle="collapse" href="#pgr2" aria-expanded="true"><i class="fa fa-code" title="Get Code" data-toggle="tooltip"></i></a></h4>                
                <div class="news-slide m-b-15">
                    <div class="vcarousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <div class="overlaybg">
                                    <img src="@Url.Content("~/Content/themes/manager/plugins/images/news/slide1.jpg")" /></div>
                                <div class="news-content">
                                    <span class="label label-danger label-rounded">Primary</span>
                                    <h2>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="overlaybg">
                                    <img src="@Url.Content("~/Content/themes/manager/plugins/images/news/slide1.jpg")" /></div>
                                <div class="news-content">
                                    <span class="label label-primary label-rounded">Primary</span>
                                    <h2>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="overlaybg">
                                    <img src="@Url.Content("~/Content/themes/manager/plugins/images/news/slide1.jpg")" /></div>
                                <div class="news-content">
                                    <span class="label label-success label-rounded">Primary</span>
                                    <h2>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->                          
        <!-- .row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Slide show with owl Carousel</div>
                    <div class="panel-wrapper p-b-10 collapse in">
                        <div id="owl-demo" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="@Url.Content("~/Content/themes/manager/plugins/images/heading-bg/slide2.jpg")" alt="Owl Image"></div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/themes/manager/plugins/images/heading-bg/slide3.jpg")" alt="Owl Image"></div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/themes/manager/plugins/images/heading-bg/slide4.jpg")" alt="Owl Image"></div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/themes/manager/plugins/images/heading-bg/slide6.jpg")" alt="Owl Image"></div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/themes/manager/plugins/images/heading-bg/slide1.jpg")" alt="Owl Image"></div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/themes/manager/plugins/images/heading-bg/slide3.jpg")" alt="Owl Image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- .row -->
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6">
                <img class="img-responsive" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/big/img1.jpg")">
                <div class="white-box">
                    <div class="text-muted"><span class="m-r-10">May 16</span> <a class="text-muted m-l-10" href="#"><i class="fa fa-heart-o"></i>38</a></div>
                    <h3 class="m-t-20 m-b-20">Top 20 Models are on the ramp</h3>
                    <p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <img class="img-responsive" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/big/img2.jpg")">
                <div class="white-box">
                    <div class="text-muted"><span class="m-r-10">May 16</span> <a class="text-muted m-l-10" href="#"><i class="fa fa-heart-o"></i>38</a></div>
                    <h3 class="m-t-20 m-b-20">Top 20 Models are on the ramp</h3>
                    <p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <img class="img-responsive" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/big/img3.jpg")">
                <div class="white-box">
                    <div class="text-muted"><span class="m-r-10">May 16</span> <a class="text-muted m-l-10" href="#"><i class="fa fa-heart-o"></i>38</a></div>
                    <h3 class="m-t-20 m-b-20">Top 20 Models are on the ramp</h3>
                    <p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <img class="img-responsive" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/big/img4.jpg")">
                <div class="white-box">
                    <div class="text-muted"><span class="m-r-10">May 16</span> <a class="text-muted m-l-10" href="#"><i class="fa fa-heart-o"></i>38</a></div>
                    <h3 class="m-t-20 m-b-20">Top 20 Models are on the ramp</h3>
                    <p>Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- row -->
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Weather</h3>
                    <div class="weather-box">
                        <div class="weather-top">
                            <h2 class="pull-left">Monday
                                <br>
                                <small>7th May 2016</small></h2>
                            <div class="today_crnt pull-right">
                                <canvas class="sleet" width="44" height="44"></canvas>
                                <span>32<sup>°F</sup></span>
                            </div>
                        </div>
                        <div class="weather-info">
                            <h5 class="font-bold">Weather info</h5>
                            <div class="row">
                                <div class="col-xs-6 p-r-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="pull-left">Wind</p>
                                            <p class="pull-right font-bold">16km/h</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="pull-left">Sunrise</p>
                                            <p class="pull-right font-bold">05:20</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="pull-left">Humanfeel</p>
                                            <p class="pull-right font-bold">32 <sup>°F</sup></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 p-l-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="pull-left">Sunset</p>
                                            <p class="pull-right font-bold">21:05</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="pull-left">Pressure </p>
                                            <p class="pull-right font-bold">22 in</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="weather-time">
                            <ul class="list-unstyled weather-days row">
                                <li class="col-xs-4 col-sm-2"><span>Tue</span>
                                    <canvas class="sleet" width="30" height="30"></canvas>
                                    <span>32<sup>°F</sup></span></li>
                                <li class="col-xs-4 col-sm-2"><span>Wed</span>
                                    <canvas class="clear-day" width="30" height="30"></canvas>
                                    <span>34<sup>°F</sup></span></li>
                                <li class="col-xs-4 col-sm-2"><span>Thu</span>
                                    <canvas class="partly-cloudy-day" width="30" height="30"></canvas>
                                    <span>35<sup>°F</sup></span></li>
                                <li class="col-xs-4 col-sm-2"><span>Fri</span>
                                    <canvas class="cloudy" width="30" height="30"></canvas>
                                    <span>34<sup>°F</sup></span></li>
                                <li class="col-xs-4 col-sm-2"><span>Sat</span>
                                    <canvas class="snow" width="30" height="30"></canvas>
                                    <span>30<sup>°F</sup></span></li>
                                <li class="col-xs-4 col-sm-2"><span>Sun</span>
                                    <canvas class="wind" width="30" height="30"></canvas>
                                    <span>26<sup>°F</sup></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">User Activity</h3>
                    <div class="steamline">
                        <div class="sl-item">
                            <div class="sl-left">
                                <img class="img-circle" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/users/genu.jpg")">
                            </div>
                            <div class="sl-right">
                                <div><a href="#">Gohn Doe</a> <span class="sl-date">5 minutes ago</span></div>
                                <p>Contrary to popular belief</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img class="img-circle" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/users/ritesh.jpg")">
                            </div>
                            <div class="sl-right">
                                <div><a href="#">Gohn Doe</a> <span class="sl-date">5 minutes ago</span></div>
                                <p>Lorem Ipsum is simply dummy</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img class="img-circle" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/users/sonu.jpg")">
                            </div>
                            <div class="sl-right">
                                <div><a href="#">Gohn Doe</a> <span class="sl-date">5 minutes ago</span></div>
                                <p>The standard chunk of ipsum </p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img class="img-circle" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/users/ritesh.jpg")">
                            </div>
                            <div class="sl-right">
                                <div><a href="#">Gohn Doe</a> <span class="sl-date">5 minutes ago</span></div>
                                <p>Contrary to popular belief</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img class="img-circle" alt="user" src="@Url.Content("~/Content/themes/manager/plugins/images/users/govinda.jpg")">
                            </div>
                            <div class="sl-right">
                                <div><a href="#">Gohn Doe</a> <span class="sl-date">5 minutes ago</span></div>
                                <p>The generated lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Feeds</h3>
                    <ul class="feeds">
                        <li>
                            <div class="bg-info"><i class="fa fa-bell-o text-white"></i></div>
                            You have 4 pending tasks. <span class="text-muted">Just Now</span></li>
                        <li>
                            <div class="bg-success"><i class="ti-server text-white"></i></div>
                            Server #1 overloaded.<span class="text-muted">2 Hours ago</span></li>
                        <li>
                            <div class="bg-warning"><i class="ti-shopping-cart text-white"></i></div>
                            New order received.<span class="text-muted">31 May</span></li>
                        <li>
                            <div class="bg-danger"><i class="ti-user text-white"></i></div>
                            New user registered.<span class="text-muted">30 May</span></li>
                        <li>
                            <div class="bg-inverse"><i class="fa fa-bell-o text-white"></i></div>
                            New Version just arrived. <span class="text-muted">27 May</span></li>
                        <li>
                            <div class="bg-purple"><i class="ti-settings text-white"></i></div>
                            You have 4 pending tasks. <span class="text-muted">27 May</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->                   
    </div>
    <!-- /.container-fluid -->
   <footer class="footer text-center">2016 &copy; Elite Admin brought to you by VNDEV.xyz </footer>
    <audio id="my_audio" src="@Url.Content("~/Content/audio/tiktok.MP3")"></audio>
</div>
